h1, h2 {
	font-family: arial, sans-serif;
}
#userlist {
	border: 1px solid red;
	margin: 2em;
	padding: 1em;
}

#condition {
	border: 1px solid red;
	margin: 2em;
	padding: 1em;
}

#RegisterPage {
	border: 1px solid blue;
	margin: 2em;
	padding: 1em;
}

#RegisterPage input {
	display: block;
}

textarea {
	width: 600px;
	height: 400px;
	padding: 0.5em;
	font-family: arial, sans-serif;
}

input {
	display: block;
	width: 600px;
	margin-bottom: 1em;
	padding: 0.5em;
	font-family: arial, sans-serif;
}